* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 10px;
}

.layout {
    max-width: 1080px;
    margin: 30px auto;
    width: 100%;
    border: 1px solid black;
}

.header {
    padding: 46px 0 26px 30px;
    border-bottom: 1px solid black;
}


/*
    Card and Card List Modules
*/
.card-list-container {
    padding: 10px 30px;
}
.card-list-info {
    display: flex;
}
.card-list-count, .card-list-controls {
    flex: 1;
}
.card-list-controls {
    text-align: right;
}
.card-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}
.card {
    margin-bottom: 20px;
}
